[submodule "Packages/linux515"]
	path = Packages/linux515
	url = https://gitlab.manjaro.org/packages/core/linux515.git
[submodule "Packages/linux517"]
	path = Packages/linux517
	url = https://gitlab.manjaro.org/packages/core/linux517.git
[submodule "Packages/linux518"]
	path = Packages/linux518
	url = https://gitlab.manjaro.org/packages/core/linux518.git
[submodule "Packages/linux517-zfs"]
	path = Packages/linux517-extramodules/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/zfs.git
[submodule "Packages/linux518-zfs"]
	path = Packages/linux518-extramodules/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/zfs.git
[submodule "Packages/linux518-bbswitch"]
	path = Packages/linux518-extramodules/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/bbswitch
[submodule "Packages/linux517-bbswitch"]
	path = Packages/linux517-extramodules/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/bbswitch
[submodule "Packages/linux517-acpi_call"]
	path = Packages/linux517-extramodules/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/acpi_call
[submodule "Packages/linux518-acpi_call"]
	path = Packages/linux518-extramodules/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/acpi_call
[submodule "Packages/linux517-nvidia"]
	path = Packages/linux517-extramodules/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/nvidia
[submodule "Packages/linux517-nvidia-470xx"]
	path = Packages/linux517-extramodules/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/nvidia-470xx
[submodule "Packages/linux517-r8168"]
	path = Packages/linux517-extramodules/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/r8168
[submodule "Packages/linux517-rtl8723bu"]
	path = Packages/linux517-extramodules/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/rtl8723bu
[submodule "Packages/linux517-tp_smapi"]
	path = Packages/linux517-extramodules/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/tp_smapi
[submodule "Packages/linux517-vhba-module"]
	path = Packages/linux517-extramodules/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/vhba-module
[submodule "Packages/linux517-virtualbox-modules"]
	path = Packages/linux517-extramodules/virtualbox-modules
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/virtualbox-modules
[submodule "Packages/linux518-nvidia"]
	path = Packages/linux518-extramodules/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/nvidia
[submodule "Packages/linux518-nvidia-470xx"]
	path = Packages/linux518-extramodules/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/nvidia-470xx
[submodule "Packages/linux518-broadcom-wl"]
	path = Packages/linux518-extramodules/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/broadcom-wl
[submodule "Packages/nvidia-utils"]
	path = Packages/nvidia-utils
	url = https://gitlab.manjaro.org/packages/extra/nvidia-utils.git
[submodule "Packages/linux517-broadcom-wl"]
	path = Packages/linux517-extramodules/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/broadcom-wl.git
[submodule "Packages/linux517-nvidia-390xx"]
	path = Packages/linux517-extramodules/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux517-extramodules/nvidia-390xx
[submodule "Packages/linux518-nvidia-390xx"]
	path = Packages/linux518-extramodules/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/nvidia-390xx
[submodule "Packages/application-utility"]
	path = Packages/application-utility
	url = https://gitlab.manjaro.org/packages/community/application-utility.git
[submodule "Packages/grub"]
	path = Packages/grub
	url = https://gitlab.manjaro.org/packages/core/grub.git
[submodule "Packages/linux518-r8168"]
	path = Packages/linux518-extramodules/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/r8168.git
[submodule "Packages/linux518-rtl8723bu"]
	path = Packages/linux518-extramodules/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/rtl8723bu.git
[submodule "Packages/linux518-tp_smapi"]
	path = Packages/linux518-extramodules/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/tp_smapi
[submodule "Packages/linux518-vhba-module"]
	path = Packages/linux518-extramodules/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/vhba-module
[submodule "Packages/manjaro-xfce-settings"]
	path = Packages/manjaro-xfce-settings
	url = https://gitlab.manjaro.org/packages/community/xfce/manjaro-xfce-settings.git
[submodule "Packages/gnome-settings"]
	path = Packages/gnome-settings
	url = https://gitlab.manjaro.org/packages/community/gnome/gnome-settings.git
[submodule "Packages/bbswitch"]
	path = Packages/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux611-extramodules/bbswitch
[submodule "Packages/broadcom-wl"]
	path = Packages/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/broadcom-wl
[submodule "Packages/nvidia"]
	path = Packages/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/nvidia
[submodule "Packages/nvidia-390xx"]
	path = Packages/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux518-extramodules/nvidia-390xx
[submodule "Packages/morisawa-biz-ud-fonts"]
	path = Packages/morisawa-biz-ud-fonts
	url = https://aur.archlinux.org/morisawa-biz-ud-fonts.git
[submodule "Packages/grub-theme-live-dev"]
	path = Packages/grub-theme-live-dev
	url = https://gitlab.manjaro.org/packages/extra/grub-theme-live-dev.git
[submodule "Packages/manjaro-live"]
	path = Packages/manjaro-live
	url = https://gitlab.manjaro.org/packages/extra/manjaro-live.git
[submodule "Packages/calamares"]
	path = Packages/calamares
	url = https://gitlab.manjaro.org/packages/extra/calamares.git
[submodule "Packages/extramodules-6.9/acpi_call"]
	path = Packages/extramodules-6.9/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/acpi_call.git
[submodule "Packages/extramodules-6.9/bbswitch"]
	path = Packages/extramodules-6.9/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/bbswitch.git
[submodule "Packages/extramodules-6.9/broadcom-wl"]
	path = Packages/extramodules-6.9/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/broadcom-wl.git
[submodule "Packages/extramodules-6.9/nvidia"]
	path = Packages/extramodules-6.9/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/nvidia.git
[submodule "Packages/extramodules-6.9/nvidia-390xx"]
	path = Packages/extramodules-6.9/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/nvidia-390xx.git
[submodule "Packages/extramodules-6.9/nvidia-470xx"]
	path = Packages/extramodules-6.9/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/nvidia-470xx.git
[submodule "Packages/extramodules-6.9/r8168"]
	path = Packages/extramodules-6.9/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/r8168.git
[submodule "Packages/extramodules-6.9/rtl8723bu"]
	path = Packages/extramodules-6.9/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/rtl8723bu.git
[submodule "Packages/extramodules-6.9/tp_smapi"]
	path = Packages/extramodules-6.9/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/tp_smapi.git
[submodule "Packages/extramodules-6.9/vhba-module"]
	path = Packages/extramodules-6.9/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/vhba-module.git
[submodule "Packages/extramodules-6.9/virtualbox"]
	path = Packages/extramodules-6.9/virtualbox
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/virtualbox.git
[submodule "Packages/extramodules-6.9/zfs"]
	path = Packages/extramodules-6.9/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux69-extramodules/zfs.git
[submodule "Packages/manjaro-jp-calamares"]
	path = Packages/manjaro-jp-calamares
	url = git@github.com:phoepsilonix/manjaro-jp-calamares
	branch = manjaro-jp
[submodule "Packages/mkinitcpio"]
	path = Packages/mkinitcpio
	url = git@github.com:phoepsilonix/mkinitcpio
	branch = manjaro-jp
[submodule "Packages/extramodules-6.10/acpi_call"]
	path = Packages/extramodules-6.10/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/acpi_call.git
[submodule "Packages/extramodules-6.10/bbswitch"]
	path = Packages/extramodules-6.10/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/bbswitch.git
[submodule "Packages/extramodules-6.10/broadcom-wl"]
	path = Packages/extramodules-6.10/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/broadcom-wl.git
[submodule "Packages/extramodules-6.10/nvidia"]
	path = Packages/extramodules-6.10/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/nvidia.git
[submodule "Packages/extramodules-6.10/nvidia-390xx"]
	path = Packages/extramodules-6.10/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/nvidia-390xx.git
[submodule "Packages/extramodules-6.10/nvidia-470xx"]
	path = Packages/extramodules-6.10/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/nvidia-470xx.git
[submodule "Packages/extramodules-6.10/rtl8723bu"]
	path = Packages/extramodules-6.10/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/rtl8723bu.git
[submodule "Packages/extramodules-6.10/tp_smapi"]
	path = Packages/extramodules-6.10/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/tp_smapi.git
[submodule "Packages/extramodules-6.10/vhba-module"]
	path = Packages/extramodules-6.10/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/vhba-module.git
[submodule "Packages/extramodules-6.10/virtualbox"]
	path = Packages/extramodules-6.10/virtualbox
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/virtualbox.git
[submodule "Packages/extramodules-6.10/zfs"]
	path = Packages/extramodules-6.10/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/zfs.git
[submodule "Packages/extramodules-6.10/r8168"]
	path = Packages/extramodules-6.10/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux610-extramodules/r8168.git
[submodule "Packages/libpamac"]
	path = Packages/libpamac
	url = git@github.com:phoepsilonix/libpamac-makepkg
[submodule "Packages/extramodules-6.13/acpi_call"]
	path = Packages/extramodules-6.13/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/acpi_call
[submodule "Packages/extramodules-6.13/bbswitch"]
	path = Packages/extramodules-6.13/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/bbswitch
[submodule "Packages/extramodules-6.13/broadcom-wl"]
	path = Packages/extramodules-6.13/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/broadcom-wl
[submodule "Packages/extramodules-6.13/nvidia"]
	path = Packages/extramodules-6.13/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/nvidia
[submodule "Packages/extramodules-6.13/nvidia-390xx"]
	path = Packages/extramodules-6.13/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/nvidia-390xx
[submodule "Packages/extramodules-6.13/nvidia-470xx"]
	path = Packages/extramodules-6.13/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/nvidia-470xx
[submodule "Packages/extramodules-6.13/r8168"]
	path = Packages/extramodules-6.13/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/r8168
[submodule "Packages/extramodules-6.13/rtl8723bu"]
	path = Packages/extramodules-6.13/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/rtl8723bu
[submodule "Packages/extramodules-6.13/tp_smapi"]
	path = Packages/extramodules-6.13/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/tp_smapi
[submodule "Packages/extramodules-6.13/vhba-module"]
	path = Packages/extramodules-6.13/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/vhba-module
[submodule "Packages/extramodules-6.13/virtualbox"]
	path = Packages/extramodules-6.13/virtualbox
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/virtualbox
[submodule "Packages/extramodules-6.13/zfs"]
	path = Packages/extramodules-6.13/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux613-extramodules/zfs
[submodule "Packages/extramodules-6.12/acpi_call"]
	path = Packages/extramodules-6.12/acpi_call
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/acpi_call.git
[submodule "Packages/extramodules-6.12/bbswitch"]
	path = Packages/extramodules-6.12/bbswitch
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/bbswitch.git
[submodule "Packages/extramodules-6.12/broadcom-wl"]
	path = Packages/extramodules-6.12/broadcom-wl
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/broadcom-wl.git
[submodule "Packages/extramodules-6.12/nvidia"]
	path = Packages/extramodules-6.12/nvidia
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/nvidia.git
[submodule "Packages/extramodules-6.12/nvidia-390xx"]
	path = Packages/extramodules-6.12/nvidia-390xx
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/nvidia-390xx.git
[submodule "Packages/extramodules-6.12/nvidia-470xx"]
	path = Packages/extramodules-6.12/nvidia-470xx
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/nvidia-470xx.git
[submodule "Packages/extramodules-6.12/r8168"]
	path = Packages/extramodules-6.12/r8168
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/r8168.git
[submodule "Packages/extramodules-6.12/rtl8723bu"]
	path = Packages/extramodules-6.12/rtl8723bu
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/rtl8723bu.git
[submodule "Packages/extramodules-6.12/tp_smapi"]
	path = Packages/extramodules-6.12/tp_smapi
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/tp_smapi.git
[submodule "Packages/extramodules-6.12/vhba-module"]
	path = Packages/extramodules-6.12/vhba-module
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/vhba-module.git
[submodule "Packages/extramodules-6.12/virtualbox"]
	path = Packages/extramodules-6.12/virtualbox
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/virtualbox.git
[submodule "Packages/extramodules-6.12/zfs"]
	path = Packages/extramodules-6.12/zfs
	url = ssh://git@gitlab.manjaro.org:22277/packages/extra/linux612-extramodules/zfs.git
[submodule "Packages/extramodules-6.14/acpi_call"]
	path = Packages/extramodules-6.14/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/acpi_call
[submodule "Packages/extramodules-6.14/bbswitch"]
	path = Packages/extramodules-6.14/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/bbswitch
[submodule "Packages/extramodules-6.14/broadcom-wl"]
	path = Packages/extramodules-6.14/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/broadcom-wl
[submodule "Packages/extramodules-6.14/nvidia"]
	path = Packages/extramodules-6.14/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/nvidia
[submodule "Packages/extramodules-6.14/nvidia-390xx"]
	path = Packages/extramodules-6.14/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/nvidia-390xx
[submodule "Packages/extramodules-6.14/nvidia-470xx"]
	path = Packages/extramodules-6.14/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/nvidia-470xx
[submodule "Packages/extramodules-6.14/r8168"]
	path = Packages/extramodules-6.14/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/r8168
[submodule "Packages/extramodules-6.14/rtl8723bu"]
	path = Packages/extramodules-6.14/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/rtl8723bu
[submodule "Packages/extramodules-6.14/tp_smapi"]
	path = Packages/extramodules-6.14/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/tp_smapi
[submodule "Packages/extramodules-6.14/vhba-module"]
	path = Packages/extramodules-6.14/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/vhba-module
[submodule "Packages/extramodules-6.14/zfs"]
	path = Packages/extramodules-6.14/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/zfs
[submodule "Packages/extramodules-6.14/virtualbox"]
	path = Packages/extramodules-6.14/virtualbox
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/virtualbox
[submodule "Packages/extramodules-6.14/nvidia-open"]
	path = Packages/extramodules-6.14/nvidia-open
	url = https://gitlab.manjaro.org/packages/extra/linux614-extramodules/nvidia-open
[submodule "Packages/extramodules-6.15/acpi_call"]
	path = Packages/extramodules-6.15/acpi_call
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/acpi_call
[submodule "Packages/extramodules-6.15/bbswitch"]
	path = Packages/extramodules-6.15/bbswitch
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/bbswitch
[submodule "Packages/extramodules-6.15/broadcom-wl"]
	path = Packages/extramodules-6.15/broadcom-wl
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/broadcom-wl
[submodule "Packages/extramodules-6.15/nvidia"]
	path = Packages/extramodules-6.15/nvidia
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/nvidia
[submodule "Packages/extramodules-6.15/nvidia-open"]
	path = Packages/extramodules-6.15/nvidia-open
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/nvidia-open
[submodule "Packages/extramodules-6.15/nvidia-390xx"]
	path = Packages/extramodules-6.15/nvidia-390xx
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/nvidia-390xx
[submodule "Packages/extramodules-6.15/nvidia-470xx"]
	path = Packages/extramodules-6.15/nvidia-470xx
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/nvidia-470xx
[submodule "Packages/extramodules-6.15/r8168"]
	path = Packages/extramodules-6.15/r8168
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/r8168
[submodule "Packages/extramodules-6.15/rtl8723bu"]
	path = Packages/extramodules-6.15/rtl8723bu
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/rtl8723bu
[submodule "Packages/extramodules-6.15/tp_smapi"]
	path = Packages/extramodules-6.15/tp_smapi
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/tp_smapi
[submodule "Packages/extramodules-6.15/vhba-module"]
	path = Packages/extramodules-6.15/vhba-module
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/vhba-module
[submodule "Packages/extramodules-6.15/virtualbox"]
	path = Packages/extramodules-6.15/virtualbox
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/virtualbox
[submodule "Packages/extramodules-6.15/zfs"]
	path = Packages/extramodules-6.15/zfs
	url = https://gitlab.manjaro.org/packages/extra/linux615-extramodules/zfs
