one.ablaze.floorp.desktop:MimeType=x-scheme-handler/http;text/html;application/xhtml+xml;x-scheme-handler/https;x-scheme-handler/http;x-scheme-handler/http;application/xhtml+xml;
